html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 95, 0);
}

.container-menu {
    background-color: rgb(25, 175, 25);
    padding: 1.5rem;
}

.container-menu h1 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(239, 241, 243);
    margin: 0 0 40px 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0.3rem 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    gap: 3rem;
}
nav a {
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    border-radius: 2.5rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: rgba(255, 230, 0, 0.877);
    transform: scale(1.05);
}

.container-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-menu a {
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    border-radius: 13px;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.titulo {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 90, 5);
}

.fases-grupos {
    color: rgb(0, 12, 122);
    text-align: center;
    font-size: 30px;
    margin: 6%;
    font-family: 'Fira Sans', sans-serif;
}


.container-grupos {
    display: column;
    justify-content: center;
    gap: 20px;
    padding: 3rem;
    margin-top: 30px;
}

.selects {
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 10px;
}

option {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

label {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.img-lista {
    width: 30px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
}

li {
    font-family: 'Montserrat', sans-serif;
}

.paises ul {
    padding: 0;
    margin: 0;
}

.img-cruz {
    width: 50px;
    height: 30px;
    object-fit: cover;
}

.paises li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.cruzamento {
    margin-top: 30px;
}

.divisao,
.divisao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 15px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 8px;

}